body{
    background-color: rgb(136, 136, 136);
    padding: 0;
    margin: 0 0 0 0;
    /*border: 0;*/
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    height: 40px;
    width: 100%;
    /*border: solid 1px gray;*/
    background-color: rgb(114, 40, 114);
    z-index: 10;
}

.header_center{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 600px;

}

.header_picture{
    /*width: 400px;*/
    font-size: small;
}
.header_navilist{

}


#about{
    /*position: absolute;
    width: 100%;*/
    position: relative;
    background-color: rgb(170, 170, 170);
    height: 200px;

}
.div_about_center{
    width: 90%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/

}
.div_about_left{
    width: 70%;
    height: 100%;
    /*border: solid 1px gray;*/
    display: inline-block;
    /*float: left;*/

}
.div_about_right{
    width: 28%;
    height: 100%;
    /*border: solid 1px gray;*/
    font-size: 4px;
    display: inline-block;
    /*float: right;*/
    position: absolute;
    right: 0;
}

#profile{

    position: relative;
    height: 120px;
    background-color: rgb(238, 238, 238);
}

.profile{
    height: 100px;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/
}

#contact_me{
    background-color: rgb(238, 238, 238);
    height: auto;
    /*border: solid 1px gray;*/
}

.header_contact_me{
    position: relative;
    height: 90px;
    /*border: solid 1px gray;*/
}

.content_contact_me{
    position: relative;
    height: 260px;
    /*border: solid 1px gray;*/
}

.left_content_contact_me{
    height: 100%;
    width: 50%;
    display: inline-block;
    /*border: solid 1px gray;*/
}

.message_left_content_contact_me{
    height: 20%;
    width: 100%;
    border-bottom: solid 1px gray;
    /*border: solid 1px gray;*/
}
.div_name{
    position: relative;
    height: 12px;
    width: 100%;
    /*border: solid 1px gray;*/
}
input{
    border: 0;
    background-color: rgb(238, 238, 238);
    width: 95%;
    cursor: text;
}

.right_content_contact_me{
    height: 100%;
    width: 40%;
    display: inline-block;
    position: absolute;
    right: 0;
    /*border: solid 1px gray;*/
}
.message_height{
    height: 30%;
}

.footer_contact_me{
    height: 70px;
    position: relative;
    /*border: solid 1px gray;*/
}

.div_send{
    height: 80%;
    position: absolute;
    width: 90%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/
}

.content_header_contact_me{
    height: 60px;
    width: 60%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/
}

.center_content_contact_me{
    width: 90%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/
}

.container{
    /*position: absolute;*/
    height: auto;
    width: 100%;
    margin-top: 42px;
    /*border: solid 1px #bd2130;*/

}
.item_container{
    height: auto;
    /*position: absolute;*/
    width: 600px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px #bd2130;*/

}
.item{
    width: 100%;
    height: auto;
    /*border: solid 1px gray;*/
}

ul{
    margin: 0;
    list-style: none;
    overflow: hidden;

}
ul li{
    font-size: small;
    float: left;
    margin-left: 5px;
    /*border: solid 1px gray;*/

}
ul li:hover{
    background-color: rgb(231, 231, 231);
}
.current{
    background-color: rgb(231, 231, 231);
}

.footer{
    position: relative;
    height: 120px;
    width: 100%;
    /*border: solid 1px gray;*/
    background-color: rgb(170, 170, 170);
}
.div_center_footer{
    position: absolute;
    width: 60%;
    height: 60%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/
}

.change{
    background-color: rgb(170, 170, 170);
    color: #FFFFFF;
}
.change:hover{
    background-color: #FFFFFF;
    color: rgb(114, 40, 114);
}

.footer_2{
    position: relative;
    height: 40px;
    width: 100%;
    /*border: solid 1px gray;*/
    background-color: rgb(114, 40, 114);
}

.div_center_footer_2{
    width: 30%;
    height: 80%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    /*border: solid 1px gray;*/
}

a{
    text-decoration: none;/*color: rgb(114, 40, 114);*/
    color: inherit;
}

.class_span_over_message{
    position: absolute;
    padding: 0;
    margin: 0;
    /*display: inline-block;*/
    /*visibility: hidden;*/
    top: 10px;
    line-height: 100%;
    font-size: smaller;
}
